{% extends "finalproject/layout.html" %}
{% load static %}

{% block body %}

<div class="cover">
    <div id="profile">
        <div class="card text-center">
            <div class="card-header">
            <h2 id="profile_username" class="card-title"></h2>
            </div>
        </div>
    </div>
</div>  
    <div id="default"></div>
    <div id="post-load"></div>
    <div id="post-contents"></div>

{% endblock body %}


{% block script %}
    <script src="{% static 'finalproject/cryptopedia.js' %}"></script>
{% endblock script %} 