{% extends "finalproject/layout.html" %}
{% load static %}

{% block body %}

<div class="cover">
    <div id="profile">
    </div>
</div>  
<div id="img1"><img src="{% static 'finalproject/top-left.jpg' %}"></div>
<div id="img2"><img src="{% static 'finalproject/bottom-left-1.jpg' %}"></div>
<div id="img3"><img src="{% static 'finalproject/bottom-left-2.jpg' %}"></div> 
    <div id="articles-load"></div>
    <div id="article-contents"></div>
    <div id="search-articles"></div>
    <div id="archived"></div>
    <button type="button" id="archive-btn" class="btn btn-dark">Archived Articles</button>

 
        <div id="pages" class ="row justify-content-center">
            <nav aria-label="Page navigation example">
                    <ul id="pagination" class="pagination">                      
                    </ul>   
            </nav>
        </div>


    {% if user.is_authenticated %}
    <div id="archiver-btn"></div>
    {% endif %}
{% endblock body %}


{% block script %}
    <script src="{% static 'finalproject/index.js' %}"></script>
{% endblock script %} 