{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Daily News{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="{% static 'finalproject/styles.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% block script %}{% endblock script %} 
   </head>
<body>
    <nav>
 
        <div class="title . text-center" id="indexdex"><a href="{% url 'index' %}">News Daily</div>
    </nav>
    <nav class="navbar-light py-3" style="background-color: #e3f2fd;">
    <ul class="nav pr-4">

        <li class="nav-item px-4">
            <a href="{% url 'post_page' %}">
                <span id="cryptopediaload" class="links_name">Cryptopedia</span>
            </a>
        </li>  
        <li class="nav-item pr-4">
            <a href="{% url 'price' %}">
                <span class="links_name">Live Prices</span>
            </a>
        </li>  
        
        {% if user.is_authenticated %}

        <li class="nav-item">
            <a href="{% url 'create_article' %}">
                <span class="links_name mr-2"> Create Article</span>
            </a>

            <a href="{% url 'create_post' %}">
                <span class="links_name mr-2"> Create Post</span>
            </a>

            <a href="{% url 'logout' %}">
            <i class='bx bx-log-out-circle' ></i>
            <span class="links_name"> Logout</span>
        </a>
        </li>
        {% else %}

        <li class="nav-item">
            <a id="login" href="{% url 'login' %}">
            <i class='bx bx-log-in-circle'></i>
                <span class="links_name">Log In</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'register' %}">
            <i class='bx bxs-registered'></i>
                <span class="links_name"> Register</span></a>
        </li>
        {% endif %}
        <li id="ssbar" >
            <form action="{% url 'search_articles' %}" id="search-form" method="get"> 
                {% csrf_token %}
                    <i class='bx bx-search' ></i>
                    <input type="text" placeholder="Search..." type="search" name="query" id="search-input" aria-label="Search" >
                    <button type="submit" id="search-btn" disabled>Search </button>
            </form>
        </li>

    </ul>
</nav>

  </div>
    <div id="time">
    </div>

    <div class="body">
        {% block body %}
        {% endblock %}
    </div>

<!--Grace Lente my mom for you my first everwebsite that gonna be deployed-->

<!--A salary is the drug they give you to forget your dreams.
    -kevin oleary 
    -->
</body>
<footer>
</footer>
<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script><div id="coinmarketcap-widget-marquee" coins="1,1027,1839,52,2010,74,3890,6636" currency="PHP" theme="light" transparent="false" show-symbol-logo="true"></div>
</html>
