{% extends "finalproject/layout.html" %}
{% load static %}

{% block body %}
<div class="buttoms . text-center">
    <button class="btn btn-sm btn-outline-dark" id="crypto">Cryptocurrency</button>
    <button class="btn btn-sm btn-outline-dark" id="token">Gaming Tokens</button>
</div>
<div class="container">
    <div id="token-content">
        <div class="row">
    </div>

    <div id="cryto-content"></div>
</div>


    
<div class="container">
    <div id="cryto-view">

    </div>
    <div id="token-view"></div>
</div>




{% endblock body %}

{% block script %}
    <script src="{% static 'finalproject/price.js' %}"></script>
{% endblock script %} 