{% extends "finalproject/layout.html" %}
{% load static %}

{% block body %}

    <button class="btn btn-sm btn-outline-primary" id="crypto">Cryptocurrency</button>
    <button class="btn btn-sm btn-outline-primary" id="token">Gaming Tokens</button>
    <hr>
<div class="container">
    <div id="cryto-view">
        <div class="d-flex justify-content-around p-1">
            <div></div>
            <div class="col-2"><b>Cryptocurrency</b></div>
            <div class="col-2"><b>PHP</b></div>
            <div class="col-auto"><b>24hr Change</b></div>
            <div class="col-3" ><b>Current Market Capitalization</b></div>
        </div>
    </div>
    <div id="token-view"></div>
</div>

<div class="container">
    <div id="token-content"></div>
    <div id="cryto-content"></div>
</div>




{% endblock body %}

{% block script %}
    <script src="{% static 'finalproject/price.js' %}"></script>
{% endblock script %} 